body {
    /* background-color: hwb(96 4% 43%); */
    background: radial-gradient(hsl(147, 74%, 62%), #296ae3);
}

.tittle-select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittle {
    text-transform: uppercase;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #fff;
}

.select {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.select button {
    padding: 0.2rem 0.5rem;
    font-size: 1.1rem;
    margin: 0 0.3rem;
    border-radius: 0.5rem;
    
}

.select a button {
    color: cadetblue;
    text-transform: uppercase;
    font-weight: bold;
}

.select a button:hover {
    background-color: cadetblue;
}

.select a button:hover {
    color: #fff;
}

.cards-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border: solid 1px;
    margin: 2rem;
    padding: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 1rem;
}

.card:hover {
    background: white;
    color: black; 
    transform: translateY(-3px) scale(1.04);
    transition: .1s;
}

.img-card img {
    width: 12rem;
}

.tipo-marca {
    display: flex;
}

.tipo {
    padding: 0.2rem;
}

.marca {
    padding: 0.2rem;
}

.edit-delete-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-container {
    padding: 0.2rem;
}

.edit-container button {
    background-color: rgb(29, 117, 231);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-color: rgb(29, 117, 231);
}

.edit-container button:hover {
    background-color: rgb(81, 153, 247);
}

.delete-container {
    padding: 0.5rem;
}

.delete-container button {
    background-color: rgb(219, 57, 16);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-color: rgb(219, 57, 16);
}

.delete-container button:hover {
    background-color: rgb(247, 83, 43);
}